img {
  display: block;
  max-width: 100%;
}

.container-small {
  position: relative;
  width: 100%;
  max-width: 700px;
  margin-right: auto;
  margin-left: auto;
}

.padding-section-small {
  position: relative;
  padding-top: 40px;
  padding-bottom: 40px;
}

.hero_section {
  color: #fff;
}

.button_cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 50px;
  padding: 0px 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #ff8e70;
  -webkit-transition: opacity 300ms ease;
  transition: opacity 300ms ease;
}

.button_cta:hover {
  opacity: 0.8;
}

.mailing_cta {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.heading-style-h1 {
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
}

.padding-global {
  padding-right: 40px;
  padding-left: 40px;
}

.mailing_top {
  position: absolute;
  left: 0%;
  top: 0%;
  right: 0%;
  bottom: 0%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.mailing_award-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 16px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
}

.award-list_icon {
  font-size: 0px;
  line-height: 0px;
}

.text-size-regular {
  font-size: 16px;
}

.text-size-tiny {
  font-size: 12px;
  line-height: 1;
}

.partners_logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.mailing_partners-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.mailing_divider {
  height: 1px;
  background-color: #e8e8e8;
}

.mailing_bottom {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  background-color: #fff;
}

.mailing_bg {
  display: block;
  width: 100%;
}

.mailing_bg.is-1 {
  position: static;
}

.mailing_bg.is-2 {
  position: static;
  height: 50%;
}

.image {
  display: block;
}

.image-2 {
  display: block;
}

.margin-bottom {
  margin-bottom: 24px;
}

@media screen and (max-width: 767px) {
  .padding-section-small {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .heading-style-h1 {
    font-size: 2.5rem;
  }

  .padding-global {
    padding-right: 1.25rem;
    padding-left: 1.25rem;
  }
}